<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- add bootstrap css and js links here-->

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav>
        <!--Navbar-->
        <div>
            <a href="/login">Login</a>
            <a href="/sign_up">Sign Up</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>

    <!--Flashed messages-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error'%}
    <div class="error">
        {{message}}
        <button type="button" class="close">
            <span>&times;</span>
        </button>
    </div>
    {% else %}
    <div class="success">
        {{message}}
        <button type="button" class="close">
            <span>&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!--Content-->
    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!--Load any scripts at the end-->
    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}">
    </script>
</body>

</html>